body {
	color: whitesmoke;
	background: #333333;
}

a {
    color: lightblue;
}

a:visited {
    color: darkcyan;
}

#main {
	margin: auto;
	width: 50%;
}

#navlink {
	margin-right: 10px;
	font-size: 18px;
}

@media (max-width: 768px) {
	#main {
		width: 75%;
	}
	#navlink {
		margin-right: auto;
	}
}
